<div class="container">
  <h2>{{ title }}</h2>

  <form class="form-group">
    <div>
      <input
        type="text"
        class="form-control"
        name="new-item-text"
        [(ngModel)]="newItemText"
        placeholder="Enter todo item"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary" (click)="$event.preventDefault(); addItem()">Add Todo</button>
    </div>
  </form>

  <select class="form-select" [(ngModel)]="listFilter">
    <option [value]="0">All</option>
    <option [value]="1">Unfulffiled</option>
    <option [value]="2">Fulffiled</option>
  </select>

  @if (visibleItems.length === 0) {
  <p>No items found.</p>
  } @else {
  <ul class="todo-group">
    @for (item of visibleItems; track item) {
    <li class="todo-item">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [checked]="item.completed" (click)="toggleItem(item)" />
          {{ item.title }}
        </label>
      </div>
    </li>
    }
  </ul>
  }
</div>
